@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}
@layer components {
    .btn-primary {
        @apply p-3 bg-slate-950 dark:bg-slate-900/50 text-slate-50 rounded-sm font-medium uppercase;
    }

    .btn-secondary {
        @apply p-3 bg-blue-500 text-white rounded-sm font-medium uppercase;
    }
}